.footer {
	height: 15vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 30%;
	background-color: rgb(55, 7, 0);
}

.footerText {
	font-size: 1.2rem;
	position: relative;
	top: 10%;
}

.designText {
	font-size: 1.3rem;
	color: orange;
	font-family: 'Schoolbell', cursive;
}

.copyright {
	color: rgba(240, 255, 255, 0.48);
	font-size: 0.9rem;
}
