@keyframes slide-from-top {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.navbar {
	position: fixed;
	height: 4.2em;
	width: 100%;
	opacity: 0;
	transform: translateY(-10vh);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.706);
	align-items: center;
	z-index: 1;
	user-select: none;
	animation: slide-from-top 0.8s 0s forwards cubic-bezier(0.11, 0, 0, 1);
	.logo_link {
		width: 100%;
	}
}

.logo {
	font-family: 'Schoolbell', cursive;
	font-size: 1.7rem;
	margin-left: 5%;
	cursor: default;
	color: orange;
}

.navlinks {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 1.5vw;
	margin-right: 5%;
}

.link:hover {
	color: rgb(247, 247, 247);
}

.link {
	text-decoration: none;
	color: rgb(209, 209, 209);
	font-size: 1.2rem;
}
