@keyframes slide-in {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.noFavourites_conatiner {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
	img {
		width: 20em;
		height: auto;
		border-radius: 50%;
		margin-left: 2.5%;
		opacity: 0;
		transform: translateX(30vh);
		animation: slide-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
	}
	h1 {
		font-size: 2.5rem;
		margin-right: 2.5%;
		opacity: 0;
		transform: translateX(-30vh);
		animation: slide-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
	}
}
.favourites_container {
	width: 90%;
	margin-left: 5%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.myFavourits_heading {
	text-align: center;
	margin: 3%;
	margin-left: 5%;
	font-size: 3em;
}

@media only screen and (max-width: 770px) {
	.noFavourites_conatiner {
		margin-top: 10%;
	}
	.myFavourits_heading {
		margin: 5%;
		margin-bottom: 10%;
		font-size: 2em;
	}

	.noFavourites_conatiner {
		margin-top: 15%;
		flex-direction: column;
		img {
			width: 80%;
			height: auto;
			border-radius: 50%;
		}
		h1 {
			font-size: 1.6rem;
			margin-bottom: 9%;
		}
	}
}
