.favourites_container {
	width: 90%;
	margin-left: 5%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.noFavourites_conatiner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img {
		margin: 5% 0 3%;
		width: 20em;
		height: auto;
		border-radius: 50%;
	}
	h1 {
		font-size: 1.5rem;
	}
}

.myFavourits_heading {
	text-align: center;
	margin: 3%;
	margin-left: 5%;
	font-size: 3em;
}
