.card {
	min-height: 60vh;
	height: auto;
	width: 50vh;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 4%;
	border-radius: 7px;
	overflow: hidden;
	background-color: rgb(2, 36, 36);
	img {
		height: auto;
		width: 100%;
		object-fit: cover;
	}
}

.dish_info {
	display: flex;
	flex-direction: column;
	padding: 3%;
}

.dish_name {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 5vh;
	margin-bottom: 1.5vh;
	height: 4.4rem;
	font-size: 1.4rem;
}

.dish_numeric_info p {
	color: rgb(112, 131, 147);
	font-size: 1.01rem;
	width: 100%;
	height: auto;
	margin-bottom: 0.6rem;
}

.recipe_buttons {
	display: flex;
	flex-direction: row;

	button {
		bottom: 0;
		width: 48%;
		height: 2.2rem;
		margin-right: 4%;
		font-size: 1.05rem;
		font-weight: 600;
		border-radius: 3px;
		background-color: rgb(185, 96, 0);
		color: rgb(212, 212, 212);
		border-style: none;
		border: 1px solid black;
	}
	button:focus {
		outline: none;
	}
	button:hover {
		background-color: rgb(228, 118, 0);
		color: rgb(196, 196, 196);
	}
	a {
		width: 48%;
		button {
			width: 100%;
			background-color: rgb(180, 180, 180);
			color: rgb(31, 17, 0);
		}
		button:hover {
			background-color: rgb(255, 255, 255);
			color: rgb(0, 0, 0);
		}
	}
}
