@keyframes slide-in {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.searchBarBlock {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: translateY(-4vh);
	opacity: 0;
	animation: slide-in 0.6s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.searchResults {
	display: flex;
	flex-wrap: wrap;
}

.searchInput {
	height: 6vh;
	width: 25vw;
	font-size: 1.01rem;
	border: none;
	padding: 0 1%;
	color: black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.searchInput:focus {
	outline: none;
	border-style: none;
}

.searchButton {
	border: none;
	height: 6vh;
	font-size: 1.01rem;
	color: azure;
	user-select: none;
	background-color: green;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.searchButton:hover {
	background-color: rgb(0, 156, 0);
}

.searchButton img {
	height: inherit;
	width: auto;
	padding: 1.5vh;
	filter: invert(90%);
	border-radius: 50%;
}

.results {
	margin: 5% 0;
	width: 100%;
	overflow: hidden;
	min-height: auto;
}

.searchResults {
	width: 90%;
	margin-left: 5%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media only screen and (max-width: 770px) {
	.searchBarBlock {
		width: 100%;
		margin-bottom: 10%;
		input {
			width: 65%;
			padding-left: 5%;
		}
	}
}
