html {
	scroll-behavior: smooth;
}

* {
	color: rgb(164, 164, 164);
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-moz-selection {
	color: rgb(0, 0, 0);
	background: rgb(0, 247, 165);
}

::selection {
	color: rgb(0, 0, 0);
	background: rgb(0, 247, 165);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
